::placeholder {
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .logo {
        max-width: 35px;
        // background-color: #fff;
    }

    .hamburger {
        display: none;
    }

    ul {
        padding: 0;
        display: flex;
        list-style-type: none;
        
        a {
            font-family: 'Roboto';
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 150%;
            margin: 0 15px;
            text-align: center;
            color: #333333;
        }

        input{
            margin-left: 25px;
            max-width: 165px;
            border:none;
            border-bottom: 1px solid black;
            
        }
    }
}
























@media only screen and (max-width:520px) {
    header {
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .header-container{
            display: none;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .logo {
            max-width: 35px;
            // background-color: #fff;
        }

        .hamburger {
            display: block;
        }

        ul {
            display: flex;
            list-style-type: none;
            
            a {
                font-family: 'Roboto';
                text-decoration: none;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 150%;
                margin: 0 15px;
                text-align: center;
                color: #333333;
            }

            input{
                margin-left: 25px;
                max-width: 150px;
                border:none;
                border-bottom: 1px solid black;
                
            }
        }
}
}